@import "../about-us/about-us.component.scss";
.banner-bg {
  background-image: url(../../../assets/images/admissions/IndusKMG-ADMISSIONS.jpg);
}
.mission-vision-bg {
  .mat-expansion-panel {
    margin-bottom: 15px;
    border-radius: 8px;
  }
}
@media (max-width: 599px) {
  .vision-vector-img1 {
    position: absolute;
    top: -30px;
    left: 10px;
    width: 50px;
  }
}
@media (min-width: 1440px) {
  .mission-vision-bg {
    .mat-expansion-panel {
      margin-bottom: 1.04vw;
      border-radius: 0.83vw;
    }
  }
}
