@import "../home/home.component.scss";
.banner-bg {
    background-image: url(../../../assets/images/banner-images/about.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    width: 100%;
}
