::ng-deep .zeroPadding {
    .mat-dialog-container {
        padding: 5px 5px 0 5px !important;
    }
}

.p-r {
    position: relative;

}

.closeBtn {
    position: absolute;
    right: 5px;
    top: 0px;
    background-color: #d3af37;
    cursor: pointer;
}

@media (min-width: 280px) and (max-width: 768px) {
    .popUp-height {
        height: auto;
    }
}