/**
* Generated theme by Material Theme Generator
* https://materialtheme.arcsine.dev
* Fork at: https://materialtheme.arcsine.dev/?c=YHBhbGV0dGU$YHByaW1hcnk$YF48IzJmNDg1OCIsIj9lcjwjZWJlYmViIiwiO2VyPCMwYjJkNDN$LCIlPmBePCNjOTgyMTEiLCI~ZXI8I2VmZGFiOCIsIjtlcjwjYjU2NTBhfiwid2Fybj5gXjwjZmYwMDAwIiwiP2VyPCNmZmIzYjMiLCI7ZXI8I2ZmMDAwMH4sIj9UZXh0PCMyMTIxMjEiLCI~PTwjZmZmZmZmIiwiO1RleHQ8I2ZmZmZmZiIsIjs9PCMyYzJjMmN$LCJmb250cz5bYEA8KC00fixgQDwoLTN$LGBAPCgtMn4sYEA8KC0xfixgQDxoZWFkbGluZX4sYEA8dGl0bGV$LGBAPHN1YiktMn4sYEA8c3ViKS0xfixgQDxib2R5LTJ$LGBAPGJvZHktMX4sYEA8YnV0dG9ufixgQDxjYXB0aW9ufixgQDxpbnB1dCIsInNpemU$bnVsbH1dLCJpY29uczxGaWxsZWQiLCI~bmVzcz50cnVlLCJ2ZXJzaW9uPjExfQ==
*/

@import '~@angular/material/theming';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.

// Fonts
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

$fontConfig: (
  display-4: mat-typography-level(112px, 112px, 300, 'Roboto', -0.0134em),
  display-3: mat-typography-level(56px, 56px, 400, 'Roboto', -0.0089em),
  display-2: mat-typography-level(45px, 48px, 400, 'Roboto', 0.0000em),
  display-1: mat-typography-level(34px, 40px, 400, 'Roboto', 0.0074em),
  headline: mat-typography-level(24px, 32px, 400, 'Roboto', 0.0000em),
  title: mat-typography-level(20px, 32px, 500, 'Roboto', 0.0075em),
  subheading-2: mat-typography-level(16px, 28px, 400, 'Roboto', 0.0094em),
  subheading-1: mat-typography-level(15px, 24px, 500, 'Roboto', 0.0067em),
  body-2: mat-typography-level(14px, 24px, 500, 'Roboto', 0.0179em),
  body-1: mat-typography-level(14px, 20px, 400, 'Roboto', 0.0179em),
  button: mat-typography-level(14px, 14px, 500, 'Roboto', 0.0893em),
  caption: mat-typography-level(12px, 20px, 400, 'Roboto', 0.0333em),
  input: mat-typography-level(inherit, 1.125, 400, 'Roboto', 1.5px)
);

// Foreground Elements

// Light Theme Text
$dark-text: #212121;
$dark-primary-text: rgba($dark-text, 0.87);
$dark-accent-text: rgba($dark-primary-text, 0.54);
$dark-disabled-text: rgba($dark-primary-text, 0.38);
$dark-dividers: rgba($dark-primary-text, 0.12);
$dark-focused: rgba($dark-primary-text, 0.12);

$mat-light-theme-foreground: (
  base:              black,
  divider:           $dark-dividers,
  dividers:          $dark-dividers,
  disabled:          $dark-disabled-text,
  disabled-button:   rgba($dark-text, 0.26),
  disabled-text:     $dark-disabled-text,
  elevation:         black,
  secondary-text:    $dark-accent-text,
  hint-text:         $dark-disabled-text,
  accent-text:       $dark-accent-text,
  icon:              $dark-accent-text,
  icons:             $dark-accent-text,
  text:              $dark-primary-text,
  slider-min:        $dark-primary-text,
  slider-off:        rgba($dark-text, 0.26),
  slider-off-active: $dark-disabled-text,
);

// Dark Theme text
$light-text: #ffffff;
$light-primary-text: $light-text;
$light-accent-text: rgba($light-primary-text, 0.7);
$light-disabled-text: rgba($light-primary-text, 0.5);
$light-dividers: rgba($light-primary-text, 0.12);
$light-focused: rgba($light-primary-text, 0.12);

$mat-dark-theme-foreground: (
  base:              $light-text,
  divider:           $light-dividers,
  dividers:          $light-dividers,
  disabled:          $light-disabled-text,
  disabled-button:   rgba($light-text, 0.3),
  disabled-text:     $light-disabled-text,
  elevation:         black,
  hint-text:         $light-disabled-text,
  secondary-text:    $light-accent-text,
  accent-text:       $light-accent-text,
  icon:              $light-text,
  icons:             $light-text,
  text:              $light-text,
  slider-min:        $light-text,
  slider-off:        rgba($light-text, 0.3),
  slider-off-active: rgba($light-text, 0.3),
);

// Background config
// Light bg
$light-background:    #ffffff;
$light-bg-darker-5:   darken($light-background, 5%);
$light-bg-darker-10:  darken($light-background, 10%);
$light-bg-darker-20:  darken($light-background, 20%);
$light-bg-darker-30:  darken($light-background, 30%);
$light-bg-lighter-5:  lighten($light-background, 5%);
$dark-bg-tooltip:     lighten(#2c2c2c, 20%);
$dark-bg-alpha-4:     rgba(#2c2c2c, 0.04);
$dark-bg-alpha-12:    rgba(#2c2c2c, 0.12);

$mat-light-theme-background: (
  background:               $light-background,
  status-bar:               $light-bg-darker-20,
  app-bar:                  $light-bg-darker-5,
  hover:                    $dark-bg-alpha-4,
  card:                     $light-bg-lighter-5,
  dialog:                   $light-bg-lighter-5,
  tooltip:                  $dark-bg-tooltip,
  disabled-button:          $dark-bg-alpha-12,
  raised-button:            $light-bg-lighter-5,
  focused-button:           $dark-focused,
  selected-button:          $light-bg-darker-20,
  selected-disabled-button: $light-bg-darker-30,
  disabled-button-toggle:   $light-bg-darker-10,
  unselected-chip:          $light-bg-darker-10,
  disabled-list-option:     $light-bg-darker-10,
);

// Dark bg
$dark-background:     #2c2c2c;
$dark-bg-lighter-5:   lighten($dark-background, 5%);
$dark-bg-lighter-10:  lighten($dark-background, 10%);
$dark-bg-lighter-20:  lighten($dark-background, 20%);
$dark-bg-lighter-30:  lighten($dark-background, 30%);
$light-bg-alpha-4:    rgba(#ffffff, 0.04);
$light-bg-alpha-12:   rgba(#ffffff, 0.12);

// Background palette for dark themes.
$mat-dark-theme-background: (
  background:               $dark-background,
  status-bar:               $dark-bg-lighter-20,
  app-bar:                  $dark-bg-lighter-5,
  hover:                    $light-bg-alpha-4,
  card:                     $dark-bg-lighter-5,
  dialog:                   $dark-bg-lighter-5,
  tooltip:                  $dark-bg-lighter-20,
  disabled-button:          $light-bg-alpha-12,
  raised-button:            $dark-bg-lighter-5,
  focused-button:           $light-focused,
  selected-button:          $dark-bg-lighter-20,
  selected-disabled-button: $dark-bg-lighter-30,
  disabled-button-toggle:   $dark-bg-lighter-10,
  unselected-chip:          $dark-bg-lighter-20,
  disabled-list-option:     $dark-bg-lighter-10,
);

// Compute font config
@include mat-core($fontConfig);

// Theme Config

body {
  --primary-color: #2f4858;
  --primary-lighter-color: #ebebeb;
  --primary-darker-color: #0b2d43;
  --text-primary-color: #{$light-primary-text};
  --text-primary-lighter-color: #{$dark-primary-text};
  --text-primary-darker-color: #{$light-primary-text};
}
$mat-primary: (
  main: #2f4858,
  lighter: #ebebeb,
  darker: #0b2d43,
  200: #2f4858, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-primary: mat-palette($mat-primary, main, lighter, darker);


body {
  --accent-color: #c98211;
  --accent-lighter-color: #efdab8;
  --accent-darker-color: #b5650a;
  --text-accent-color: #{$dark-primary-text};
  --text-accent-lighter-color: #{$dark-primary-text};
  --text-accent-darker-color: #{$light-primary-text};
}
$mat-accent: (
  main: #c98211,
  lighter: #efdab8,
  darker: #b5650a,
  200: #c98211, // For slide toggle,
  contrast : (
    main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-accent: mat-palette($mat-accent, main, lighter, darker);


body {
  --warn-color: #ff0000;
  --warn-lighter-color: #ffb3b3;
  --warn-darker-color: #ff0000;
  --text-warn-color: #{$light-primary-text};
  --text-warn-lighter-color: #{$dark-primary-text};
  --text-warn-darker-color: #{$light-primary-text};
}
$mat-warn: (
  main: #ff0000,
  lighter: #ffb3b3,
  darker: #ff0000,
  200: #ff0000, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-warn: mat-palette($mat-warn, main, lighter, darker);
;

$theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);
$altTheme: mat-dark-theme($theme-primary, $theme-accent, $theme-warn);

// Theme Init
@include angular-material-theme($theme);

.theme-alternate {
  @include angular-material-theme($altTheme);
}

// Specific component overrides, pieces that are not in line with the general theming

// Handle buttons appropriately, with respect to line-height
.mat-raised-button, .mat-stroked-button, .mat-flat-button {
  padding: 0 1.15em;
  margin: 0 .65em;
  min-width: 3em;
  line-height: 36.4px
}

.mat-standard-chip {
  padding: .5em .85em;
  min-height: 2.5em;
}

.material-icons {
  font-size: 24px;
  font-family: 'Material Icons', 'Material Icons';
  .mat-badge-content {
    font-family: 'Roboto';
  }
}



@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700;800&display=swap");
html,
body {
  height: 100%;
  }
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
:root {
  --white-color: #ffffff;
  --green-color: #03b790;
  --yellow-color: #fdb511;
  --gray-color: #707070;
  --orange-color: #FF5C39;
}

//text colors
.text-primary {
  color: var(--primary-color);
}

.text-accent {
  color: var(--accent-color);
}

.text-warn {
  color: var(--warn-color);
}

.text-white {
  color: var(--white-color) !important;
}
.text-green {
  color: var(--green-color);
}
.text-yellow {
  color: var(--yellow-color);
}
.text-gray {
  color: var(--gray-color);
}
//Background colors
.bg-primary {
  background-color: var(--primary-color);
}
.bg-light-primary {
  background-color: var(--primary-lighter-color);
}
.bg-accent {
  background-color: var(--accent-color);
}
.bg-warn {
  background-color: var(--warn-color);
}
.bg-green {
  background-color: var(--green-color);
}
.bg-yellow {
  background-color: var(--yellow-color);
}
.bg-orange {
  background-color: var(--orange-color);
}
.bg-white {
  background-color: var(--white-color) !important;
}

//font sizes
.fs-xlg {
  font-size: 40px;
  line-height: 55px;
  font-family: "M PLUS Rounded 1c", sans-serif !important;
}

.fs-lg {
  font-size: 32px;
  line-height: 42px;
  font-family: "M PLUS Rounded 1c", sans-serif !important;
}

.fs-md {
  font-size: 25px;
  line-height: 28px;
  font-family: "M PLUS Rounded 1c", sans-serif !important;
}

.fs-small {
  font-size: 18px;
  line-height: 26px;
}
.paragraph {
  font-size: 16px;
  line-height: 25px;
}
.fs-x-small {
  font-size: 14px;
  line-height: 22px;
}

.fs-x-smaller {
  font-size: 12px;
  line-height: 20px;
}

//padding styles
.section-lg-pad {
  padding: 50px 120px;
}
.section-sm-pad {
  padding: 50px 60px;
}
.border-1 {
  border: 1px solid lightgray;
}

.new-letter-card {
  padding: 50px;
}
.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

//font weights
.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

//letter spacing
.ls-05 {
  letter-spacing: 0.5px;
}

.ls-1 {
  letter-spacing: 1px;
}

.ls-2 {
  letter-spacing: 2px;
}

.ls-3 {
  letter-spacing: 3px;
}

//text alignments
.text-a-c {
  text-align: center;
}

.text-a-s {
  text-align: start;
}

.text-a-e {
  text-align: end;
}

.text-a-j {
  text-align: justify !important;
}

// text transforms
.text-tr-u {
  text-transform: uppercase;
}

.text-tr-l {
  text-transform: lowercase;
}

.text-tr-c {
  text-transform: capitalize;
}

// text decorations
.text-d-n {
  text-decoration: none;
}

.text-d-u {
  text-decoration: underline;
}

//pointers
.cursor {
  cursor: pointer;
}
.link-ui:hover {
  text-decoration: underline;
  border-bottom-color: var(--primary-color);
}
//border radius styles
.br-3 {
  border-radius: 3px;
}

.br-5 {
  border-radius: 5px;
}

.br-10 {
  border-radius: 10px;
}

.br-20 {
  border-radius: 20px !important;
}

.br-50 {
  border-radius: 50%;
}

.b-1lc {
  border: 1px solid lightgray;
}

//Button Style
.mat-raised-button.submit-btn {
  padding: 2px 30px;
  border-radius: 25px;
  color: var(--white-color);
  font-size: 16px;
  letter-spacing: 1px;
}
//zoom styles
.zoom-1 {
  transition: transform 0.3s;
}

.zoom-1:hover {
  -ms-transform: scale(1.1);
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Safari 3-8 */
  transform: scale(1.1);
}

.zoom-2 {
  transition: transform 0.5s;
}

.zoom-2:hover {
  -ms-transform: scale(1.2);
  /* IE 9 */
  -webkit-transform: scale(1.2);
  /* Safari 3-8 */
  transform: scale(1.2);
}

.zoom-3 {
  transition: transform 0.5s;
}

.zoom-3:hover {
  -ms-transform: scale(1.3);
  /* IE 9 */
  -webkit-transform: scale(1.3);
  /* Safari 3-8 */
  transform: scale(1.3);
}
.mat-expansion-panel-header {
  height: 100%;
  min-height: 48px;
}
.mat-form-field {
  font-size: 12px;
}
.table-responsive {
  display: block !important;
  width: 100% !important;
  overflow-x: auto !important;
  .mat-table {
    width: 100% !important;
    max-width: 100% !important;
    margin-bottom: 1rem !important;
    display: table !important;
    border-collapse: collapse !important;
    margin: 0px !important;
    background: #f8fafd;
  }
  .mat-row,
  .mat-header-row {
    display: table-row !important;
  }
  .mat-cell,
  .mat-header-cell {
    word-wrap: initial !important;
    display: table-cell !important;
    padding: 0px 5px !important;
    line-break: unset !important;
    width: auto !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    vertical-align: middle !important;
    font-size: 16px;
    font-weight: 500;
    font-family: "Lato", sans-serif, sans-serif !important;
    text-align: center;
  }
  .mat-header-cell {
    background-color: #0a461f !important;
    color: white !important;
  }
}
.mat-row:nth-child(even) {
  background-color: #dbb065;
}

.mat-row:nth-child(odd) {
  background-color: #ffffff;
}

@media (min-width: 960px) and (max-width: 1279px) {
  .section-lg-pad {
    padding: 40px 80px;
  }
  .section-sm-pad {
    padding: 40px 30px;
  }
  .fs-xlg {
    font-size: 36px;
    line-height: 48px;
  }
  .fs-lg {
    font-size: 28px;
    line-height: 38px;
  }

  .fs-md {
    font-size: 23px;
    line-height: 32px;
  }
}

@media (min-width: 600px) and (max-width: 959px) {
  .section-lg-pad {
    padding: 40px 30px;
  }
  .section-sm-pad {
    padding: 40px 30px;
  }
  .fs-xlg {
    font-size: 32px;
    line-height: 42px;
  }
  .fs-lg {
    font-size: 25px;
    line-height: 34px;
  }

  .fs-md {
    font-size: 21px;
    line-height: 28px;
  }

  .fs-small {
    font-size: 16px;
    line-height: 25px;
  }

  .paragraph {
    font-size: 14px;
    line-height: 22px;
  }
  .mat-raised-button.submit-btn {
    padding: 0px 15px;
    border-radius: 25px;
    color: var(--white-color);
    font-size: 14px;
    letter-spacing: 1px;
  }
}

@media (max-width: 599px) {
  .section-lg-pad {
    padding: 30px 15px;
  }
  .section-sm-pad {
    padding: 30px 15px;
  }
  .fs-xlg {
    font-size: 28px;
    line-height: 38px;
  }
  .fs-lg {
    font-size: 22px;
    line-height: 30px;
  }

  .fs-md {
    font-size: 16px;
    line-height: 25px;
  }

  .fs-small {
    font-size: 15px;
    line-height: 23px;
  }

  .paragraph {
    font-size: 14px;
    line-height: 22px;
  }
  .table-responsive {
    .mat-cell,
    .mat-header-cell {
      font-size: 12px;
    }
  }
  .mat-raised-button.submit-btn {
    padding: 0px 15px;
    border-radius: 25px;
    color: var(--white-color);
    font-size: 13px;
    letter-spacing: 1px;
  }
}
@media (min-width: 1440px) {
  .fs-xlg {
    font-size: 2.77vw;
    line-height: 3.81vw;
  }

  .fs-lg {
    font-size: 2.22vw;
    line-height: 2.91vw;
  }

  .fs-md {
    font-size: 1.73vw;
    line-height: 1.94vw;
  }

  .fs-small {
    font-size: 1.25vw;
    line-height: 1.8vw;
  }
  .paragraph {
    font-size: 1.11vw;
    line-height: 1.73vw;
  }
  .fs-x-small {
    font-size: 0.99vw;
    line-height: 1.52vw;
  }

  .fs-x-smaller {
    font-size: 0.83vw;
    line-height: 1.38vw;
  }

  //padding styles
  .section-lg-pad {
    padding: 3.4vw 8.33vw;
  }
  .section-sm-pad {
    padding: 3.4vw 4.16vw;
  }

  .p-5 {
    padding: 0.34vw;
  }

  .p-10 {
    padding: 0.69vw;
  }

  .p-15 {
    padding: 1.04vw;
  }

  .p-20 {
    padding: 1.38vw;
  }
  .ls-05 {
    letter-spacing: 0.034vw;
  }

  .ls-1 {
    letter-spacing: 0.069vw;
  }

  .ls-2 {
    letter-spacing: 0.13vw;
  }

  .ls-3 {
    letter-spacing: 0.2vw;
  }
  .br-3 {
    border-radius: 0.2vw;
  }

  .br-5 {
    border-radius: 0.34vw;
  }

  .br-10 {
    border-radius: 0.69vw;
  }

  .br-20 {
    border-radius: 1.38vw;
  }

  .b-1lc {
    border: 0.069vw solid var(--primary-lighter-color);
  }
  .mat-raised-button.submit-btn {
    padding: 0.069vw 2.08vw;
    border-radius: 1.73vw;
    line-height: 2.5vw;
    font-size: 1.11vw;
    letter-spacing: 0.069vw;
  }
  .mat-expansion-panel-header {
    min-height: 3.33vw;
  }
  .mat-form-field {
    font-size: 0.83vw;
  }
  .material-icons {
    font-size: 1.66vw !important;
  }
  .mat-icon {
    width: 1.66vw !important;
    height: 1.66vw !important;
    line-height: 1.66vw !important;
  }
}
