@import "../about-us/about-us.component.scss";
.banner-bg {
    background-image: url(../../../assets/images/contact-us/contact-us-banner-bg.jpg);
}
.relative-img {
    z-index: 0;
    .overlay {
        background: #2f485880;
    }
}
.contact-us-form-div {
    margin-top: -10.4vw;
    z-index: 1;
}
::ng-deep {
    .contact-us-form {
        padding: 30px;
        background: white;
        border-radius: 20px;
        position: relative;
        .mat-form-field-infix {
            border-top: 0.4375em solid transparent;
        }
        .mat-form-field-appearance-outline .mat-form-field-outline {
            color: rgb(0 0 0 / 0%);
            background-color: var(--primary-lighter-color);
            border-radius: 5px;
        }
        .form-vector-img {
            position: absolute;
            bottom: -10px;
            right: -30px;
            width: 60px;
            margin-bottom: 0px !important;
        }
    }
}
@media(max-width:599px){
    .form-vector-img {
        display:none;
    }
}

