@import "../home/home.component.scss";
.banner-bg {
    // background-image: url();
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    width: 100%;
}