.banner-bg {
  background-image: url(../../../assets/images/home/BANNER.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100%;
  position: relative;
}
::ng-deep {
  .fun-class-form {
    position: absolute;
    right: 5%;
    top: 5%;
    width: 73%;
    .mat-form-field-infix {
      border-top: 0.4375em solid transparent;
    }
    .mat-form-field-appearance-outline .mat-form-field-outline {
      color: rgb(0 0 0 / 0%);
      background-color: var(--primary-lighter-color);
      border-radius: 5px;
    }
  }
}

.mission-vision-bg {
  background-image: url(../../../assets/images/home/mision-vision-bg.jpg);
  background-position-y: center;
  // background-position-x: right;
  background-size: cover;
  min-height: 100vh;
}
.about {
  background-image: url(../../../assets/images/home/new-about.png);
  background-position-y: center;
  background-position-x: right;
  background-size: cover;
  min-height: 40vh;
}
.funAndStuday {
  background-image: url(../../../assets/images/home/home-background.jpg);
  background-position: center;
  background-size: cover;
  min-height: 60vh;
}
.HappyEnvinorment {
  background-image: url(../../../assets/images/home/happy-envinorment.png);
  background-size: cover;
  min-height: 90vh;
}
.vision-div {
  border: 2px dashed var(--accent-color);
  padding: 15px;
  border-radius: 6px;
  .vision-icon {
    width: 50px;
    height: 50px;
    background-color: var(--white-color);
    border-radius: 50%;
  }
}
.mission-div {
  border: 2px dashed var(--green-color);
  padding: 15px;
  border-radius: 6px;
  .mission-icon {
    width: 50px;
    height: 50px;
    background-color: var(--white-color);
    color: var(--green-color);
    border-radius: 50%;
  }
}
.vision-vector-img1 {
  position: absolute;
  top: -73px;
  left: 80px;
  width: 200px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.vision-vector-img {
  position: absolute;
  top: -70px;
  right: 0px;
  width: 60px;
}
.happy-environ-pad {
  padding: 50px 200px;
  position: relative;
  .vector-icon-1 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 80px;
  }
  .vector-icon-2 {
    position: absolute;
    left: 60px;
    top: 0px;
    width: 120px;
  }
  .vector-icon-3 {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 120px;
  }
}
.ceo-signature {
  width: 120px;
}
@media (min-width: 960px) and (max-width: 1279px) {
  .happy-environ-pad {
    padding: 50px 150px;
    .vector-icon-1 {
      width: 70px;
    }
    .vector-icon-2 {
      left: 50px;
      width: 110px;
    }
    .vector-icon-3 {
      width: 110px;
    }
  }
}
@media (min-width: 600px) and (max-width: 959px) {
  .vision-vector-img {
    top: -60px;
    width: 50px;
  }
  .happy-environ-pad {
    padding: 30px 120px;
    .vector-icon-1 {
      width: 50px;
    }
    .vector-icon-2 {
      left: 35px;
      width: 90px;
    }
    .vector-icon-3 {
      width: 90px;
    }
  }
}

@media (max-width: 599px) {
  .HappyEnvinorment {
    background-image: url(../../../assets/images/home/happy-envinorment.png);
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    min-height: 90vh;
  }
  .vision-vector-img {
    top: -40px;
    right: 0px;
    width: 40px;
  }
  .banner-bg {
    height: 70vh;
  }
  .happy-environ-pad {
    padding: 30px 20px;
    .vector-icon-1 {
      width: 35px;
    }
    .vector-icon-2 {
      display: none;
    }
    .vector-icon-3 {
      width: 50px;
    }
  }
}
::ng-deep {
  @media (max-width: 599px) {
    .fun-class-form {
      position: static;
      right: 5%;
      top: 5%;
      width: 100%;
    }

  }
  .fx-holistic {
    padding-top: 80px;
  }
}
@media (min-width: 1440px) {
  .vision-div {
    border: 0.14vw dashed var(--accent-color);
    padding: 1.04vw;
    border-radius: 0.41vw;
    .vision-icon {
      width: 3.47vw;
      height: 3.47vw;
    }
  }
  .mission-div {
    border: 0.14vw dashed var(--green-color);
    padding: 1.04vw;
    border-radius: 6px;
    .mission-icon {
      width: 3.47vw;
      height: 3.47vw;
    }
  }
  .vision-vector-img {
    top: -4.86vw;
    width: 4.16vw;
  }
  .happy-environ-pad {
    padding: 3.47vw 13.88vw;
    .vector-icon-1 {
      width: 6.94vw;
    }
    .vector-icon-2 {
      left: 4.86vw;
      width: 10.41vw;
    }
    .vector-icon-3 {
      width: 10.41vw;
    }
  }
  .ceo-signature {
    width: 8.33vw;
  }
  .banner-sticky-btn {
    padding: 0.69vw 1.04vw;
    border-radius: 0.69vw 0px 0px 0px;
    border: 0.069vw solid var(--accent-color);
  }
}

::ng-deep .owl-theme .owl-nav [class*="owl-"] {
  background-color: #2f4858;
}
